# 依赖包
# Mac/Windows 系统文件
.DS_Store
Thumbs.db

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 依赖文件夹
node_modules

# 构建产物文件夹
dist
build

# 环境变量文件 (非常重要，避免泄露密钥)
.env
.env.local
.env.*.local

# IDE 和编辑器配置
.vscode/
.idea/